---
import { Image } from "astro:assets";
import classNames from "classnames";
import ImageWithBlurredBackground from "../components/ImageWithBlurredBackground.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

const albums = await Astro.glob("../content/flickr-albums/*.json");
---

<Layout
  title="Bilder // mandaljazz 2024"
  description="Bilder fra tidligere 책r p책 mandaljazz"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl space-y-8">
      <h1 class="text-5xl md:text-7xl">Bildegalleri</h1>
      <p>Bilder fra tidligere 책r p책 mandaljazz.</p>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 2xl:md:grid-cols-3">
        {
          albums
            .sort((a, b) => b.default.title.localeCompare(a.default.title))
            .map((album) => {
              const {
                default: { title, url_z, width_z, height_z, href, photos },
              } = album;

              return (
                <div class="group relative overflow-clip rounded-lg">
                  <Link href={href} external unstyled title={title}>
                    <ImageWithBlurredBackground
                      src={url_z}
                      alt={title}
                      className="group-hover:scale-110 transition-transform duration-700"
                    />
                    <div class="absolute bottom-2 left-2 flex flex-row items-end gap-2">
                      {photos
                        // .filter(({ width_s, height_s }) => height_s > width_s)
                        .slice(0, 5)
                        .map((photo, index) => (
                          <Image
                            src={photo.url_s}
                            class={classNames(
                              "rounded-lg transition-transform group-hover:-rotate-2",
                            )}
                            alt={photo.title}
                            width={photo.width_s / 2}
                            height={photo.height_s / 2}
                            quality={100}
                          />
                        ))}
                    </div>
                    <h2
                      class="absolute top-0 w-full p-8 text-right text-6xl text-white"
                      style={{
                        "text-shadow": "2px 2px 2px #000000",
                      }}
                    >
                      {title?.replace("Mandaljazz ", "")}
                    </h2>
                  </Link>
                </div>
              );
            })
        }
      </div>
    </div>
  </main>
</Layout>
