---
import { Image } from "astro:assets";
import classNames from "classnames";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

const albums = await Astro.glob("../content/flickr-albums/*.json");
---

<Layout
  title="Bilder // mandaljazz 2024"
  description="Bilder fra tidligere 책r p책 mandaljazz"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl space-y-8">
      <h1 class="text-5xl md:text-7xl">Bildegalleri</h1>
      <p>Bilder fra tidligere 책r p책 mandaljazz.</p>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {
          albums
            .sort((a, b) => b.default.title.localeCompare(a.default.title))
            .map((album) => {
              const {
                default: { title, url_z, width_z, height_z, href, photos },
              } = album;

              return (
                <div class="group relative overflow-clip rounded-lg">
                  <Link href={href} external unstyled title={title}>
                    <div class="absolute bottom-2 left-2 grid grid-cols-3 items-end gap-2">
                      {photos.slice(0, 3).map((photo, index) => (
                        <Image
                          src={photo.url_s}
                          class={classNames("rounded-lg transition-transform", {
                            "group-hover:translate-x-2": index === 0,
                            "group-hover:translate-x-6": index === 1,
                            "group-hover:translate-x-10": index === 2,
                          })}
                          alt={photo.title}
                          width={photo.width_s}
                          height={photo.height_s}
                          quality={100}
                        />
                      ))}
                    </div>

                    <Image
                      src={url_z}
                      class="w-full"
                      alt={title}
                      width={width_z}
                      height={height_z}
                      quality={100}
                    />
                    <span
                      class="absolute top-0 w-full p-8 text-center text-4xl text-white"
                      style={{
                        "text-shadow": "2px 2px 2px #000000",
                      }}
                    >
                      {title}
                    </span>
                  </Link>
                </div>
              );
            })
        }
      </div>
    </div>
  </main>
</Layout>
