---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import sortBy from "lodash/sortBy";
import Link from "../components/Link.astro";
import FestivalCommitteePositionLayout from "../layouts/FestivalCommitteePositionLayout.astro";
import Layout from "../layouts/Layout.astro";
import { imagePathToSrc } from "../utils/images";

const positions = await getCollection("festivalkomite");
const positionList = sortBy(positions, (p) => p.data.filled);
---

<Layout
  title="Festivalkomite // Mandaljazz 2026"
  description="Ja, bli med i festivalkomiteen til Mandaljazz 2026!"
  image="/festivalkomite/markedssjef.jpg"
>
  <main
    class="space-y-16 px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32"
  >
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="text-4xl md:text-7xl">Festivalkomite</h1>
      <div class="grid items-center gap-16 md:grid-cols-5">
        <div class="space-y-4 md:col-span-3">
          <p>
            Hver høst setter vi sammen en festivalkomité som har ansvar for å
            planlegge neste sommers festival. Festivalkomiteen består av
            festivalsjef og nestleder, samt flere ansvarsroller som er beskrevet
            under.
          </p>
          <p>
            Det er forskjellig fra år til år om det er mange nye eller gamle med
            i festivalkomiteen. Det er veldig lov å melde seg selv om du også
            var med i fjor, eller for flere år siden - og det er veldig
            velkomment med nye tilskudd!
          </p>
          <p>
            Du trenger ikke noe erfaring – men vi ønsker folk som er engasjerte
            og som ønsker å være med å sette sitt preg på festivalen!
          </p>
        </div>
        <Image
          src={imagePathToSrc("/src/images/festivalkomite/solnedgang.jpg")}
          alt="Festivalkomiteen"
          class="rounded-lg shadow-lg md:col-span-2"
        />
        <Image
          src={imagePathToSrc("/src/images/festivalkomite/norsk-jazzforum.jpg")}
          alt="Festivalkomiteen"
          class="row-start-4 rounded-lg shadow-lg md:col-span-2 md:row-start-auto"
        />
        <div class="space-y-4 md:col-span-3">
          <p>
            Komiteen møtes et par-tre helger i løpet av året for å jobbe og
            brainstorme. Da gjør vi også alltid noe hyggelig, alt fra å spise
            god mat sammen, dra på konsert, til å reise på hyttetur.
          </p>
          <p>
            Utenom dette har vi kanskje et par kortere møter, enten digitalt
            eller fysisk, og jobber en del på egen hånd mens vi kommuniserer via
            mail/chat.
          </p>
          <p>
            De ulike ansvarsrollene krever ulik mengde jobb og tid, og det er
            derfor forskjellige symbolske summer man får for de forskjellige
            vervene. I tillegg til en symbolsk sum, er også godene som turer,
            måltider eller andre aktiviteter stort sett inkludert.
          </p>
          <p>
            Dette kommer selvfølgelig i tillegg til de samme godene som alle
            andre frivillige får under selve festivalen som å komme gratis inn
            på hele festivalen, måltider, festival t-skjorte og sosiale
            sammenkomster.
          </p>
        </div>
        <p class="md:col-span-3 md:col-start-2">
          Vi håper du har lyst til å være med å forme Mandaljazz, komme med
          ideer som du selv kan være med på å sette til liv, lære nye ting, få
          erfaringer innen arrangørvirksomhet og ledelse, og generelt bli en del
          av en skikkelig hyggelig gjeng!
        </p>
      </div>
      <div class="space-y-8">
        <h2 class="text-2xl md:text-3xl">Les litt om de ulike stillingene</h2>
        <div class="gap-2 md:grid md:grid-cols-6">
          <div
            class="sticky top-[52px] z-10 -mx-4 md:top-[56px] md:col-span-2 md:mx-0 lg:col-span-2"
          >
            <ul
              class="sticky top-[52px] flex flex-row items-center gap-4 overflow-x-auto bg-beige px-4 py-3 md:top-[56px] md:flex-col md:items-start md:px-0"
            >
              {
                positionList.map((position) => {
                  const {
                    data: { title, filled },
                    slug,
                  } = position;
                  return filled ? (
                    <li class="whitespace-nowrap">
                      <span class="line-through">{title}</span> ✔
                    </li>
                  ) : (
                    <li>
                      <Link href={`#${slug}`} title={title}>
                        {title}
                      </Link>
                    </li>
                  );
                })
              }
            </ul>
          </div>
          <div class="space-y-12 md:col-span-4 lg:col-span-4">
            {
              await Promise.all(
                positionList
                  .filter((position) => !position.data.filled)
                  .map(async (position) => {
                    const { Content } = await position.render();
                    return (
                      <div class="space-y-16">
                        <FestivalCommitteePositionLayout
                          data={position.data}
                          slug={position.slug}
                        >
                          <Content />
                        </FestivalCommitteePositionLayout>
                        <hr />
                      </div>
                    );
                  }),
              )
            }
          </div>
        </div>
      </div>
      <p class="mx-auto max-w-2xl">
        Puh, det var mye greier! Men hvis du har lest helt ned hit, så er du
        kanskje interessert i å bli med i festivalkomiteen? Hvis du er det, kan
        du sende en mail til festivalsjef Eirik og melde din interesse!
      </p>
      <a
        class={`sticky bottom-4 block w-fit mx-auto py-4 px-4 text-center bg-red text-beige rounded-lg text-sm md:text-xl duration-500
  transition-all shadow-solid -translate-y-1 hover:translate-x-1 hover:-translate-y-2 hover:shadow-solid-hover`}
        rel="noopener nofollow"
        href="mailto:eirik@mandaljazz.no?cc=marimarie@mandaljazz.no"
        title="eirik@mandaljazz.no"
        target="_blank">Meld din interesse</a
      >
    </div>
    <!-- <Image
      src={imagePathToSrc("/src/images/profil/frimerke-dans.png")}
      class="mx-auto max-w-72 md:max-w-96"
      alt="Frimerke dans"
    /> -->
  </main>
</Layout>
