---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import ImageWithCaption from "../components/ImageWithCaption.astro";
import Link from "../components/Link.astro";
import VolunteerForm from "../components/VolunteerForm.astro";
import Layout from "../layouts/Layout.astro";
import VolunteerGroupLayout from "../layouts/VolunteerGroupLayout.astro";

const groups = await getCollection("frivillig");
const groupList = groups.sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

<Layout
  title="Frivillig // Mandaljazz 2026"
  description="Ja, bli frivillig på Mandaljazz 2026 du også!"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl space-y-24">
      <div class="space-y-8">
        <h1 class="text-5xl md:text-7xl">Frivillig</h1>
        <p>Vi vil gjerne ha deg med som frivillig på Mandaljazz!</p>
      </div>
      <div
        class="grid items-center gap-8 md:grid-cols-5 md:gap-x-16 md:gap-y-20"
      >
        <div class="space-y-4 md:col-span-2">
          <p>
            Som frivillig på Mandaljazz får du oppleve massevis av god musikk og
            mye moro sammen med en herlig gjeng sosiale, hyggelige og åpne folk.
            På Mandaljazz er alle velkommen, og vi har frivilligroller som kan
            passe de fleste – alt fra bartender til bygging av telt eller ta
            imot artistene som kommer.
          </p>
        </div>
        <video
          autoplay
          playsinline
          muted
          class="rounded-lg shadow-lg md:col-span-3"
          loop
        >
          <source
            src="/video/oppsummeringsfilm-2023-compressed.mp4"
            type="video/mp4"
          />
          Beklager, her skulle det egentlig vært en video, men nettleseren din støtter
          ikke innebygde videoer :(
        </video>
        <div
          class="row-start-4 rounded-lg shadow-lg md:col-span-3 md:row-start-auto"
        >
          <ImageWithCaption
            src="/src/images/frivillig/frivillige-drikker-ol-og-koser-seg.jpg"
            caption={`Frivillige etter endt arbeid`}
            loading="eager"
          />
        </div>
        <div class="space-y-4 md:col-span-2">
          <p>
            Vi er på utkikk etter engasjerte mennesker som ønsker å være med på
            å arrangere festivalen i 2026. Her kan du lese litt om de ulike
            gruppene du kan være med i som frivillig.
          </p>
        </div>
        <div class="space-y-4 md:col-span-2">
          <p>Ønsker du å bidra enda mer?</p>
          <p>
            Da kan du <Link href="/festivalkomite" title="Festivalkomiteen"
              >bli med i festivalkomiteen!</Link
            >
          </p>
        </div>
        <div class="rounded-lg shadow-lg md:col-span-3">
          <Image
            src={"/festivalkomite/artistsjef.jpg"}
            alt="Festivalkomiteen"
            height={750}
            width={1000}
            class="rounded-lg shadow-lg md:col-span-2"
          />
        </div>
      </div>
      <!-- <div class="flex justify-center">
        <Link href="#registreringsskjema" title="Til registreingsskjema">
          Til registreringsskjema
        </Link>
      </div> -->
      <div class="space-y-8">
        <h2 class="text-2xl md:text-3xl">Les litt om de ulike gruppene</h2>
        <div class="gap-2 md:grid md:grid-cols-5">
          <div
            class="sticky top-[52px] z-10 -mx-4 md:top-[56px] md:col-span-2 md:mx-0 lg:col-span-1"
          >
            <ul
              class="sticky top-[52px] flex flex-row items-center gap-4 overflow-x-auto bg-beige px-4 py-3 md:top-[56px] md:flex-col md:items-start md:px-0"
            >
              {
                groupList.map((group) => {
                  const {
                    data: { title },
                    slug,
                  } = group;
                  return (
                    <li class="whitespace-nowrap">
                      <Link href={`#${slug}`} title={title}>
                        {title}
                      </Link>
                    </li>
                  );
                })
              }
            </ul>
          </div>
          <div class="space-y-12 md:col-span-3 lg:col-span-4">
            {
              await Promise.all(
                groupList.map(async (group) => {
                  const { Content } = await group.render();
                  return (
                    <div class="space-y-16">
                      <VolunteerGroupLayout data={group.data} slug={group.slug}>
                        <Content />
                      </VolunteerGroupLayout>
                      <hr />
                    </div>
                  );
                }),
              )
            }
          </div>
        </div>
      </div>
      <p class="mx-auto max-w-2xl">
        Puh, det var mye greier! Men hvis du har lest helt ned hit, så er du
        kanskje interessert i å bli med som frivillig på Mandaljazz? Da kan du
        melde deg på når vi åpner registreringa for neste år.
      </p>
      <div class="space-y-4">
        <div class="invisible -translate-y-16" id="registreringsskjema"></div>
        <h2 class="text-3xl">Registrering</h2>
        <VolunteerForm />
      </div>
      <!-- <Image
        src={imagePathToSrc("/src/images/profil/frimerke-dans.png")}
        class="mx-auto max-w-72 md:max-w-96"
        alt="Frimerke dans"
      /> -->

      <div class="space-y-8">
        <h2 class="text-3xl">Tidligere frivilliggjenger</h2>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2025.jpg"
            caption={`Frivilliggjengen ${2025}`}
          />
          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2024.jpg"
            caption={`Frivilliggjengen ${2024}`}
          />
          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2023.jpg"
            caption={`Frivilliggjengen ${2023}`}
          />
          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2022.jpg"
            caption={`Frivilliggjengen ${2022}`}
          />
          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2019.jpg"
            caption={`Frivilliggjengen ${2019}`}
          />

          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2018.jpg"
            caption={`Frivilliggjengen ${2018}`}
          />

          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2016.jpg"
            caption={`Frivilliggjengen ${2016}`}
          />

          <ImageWithCaption
            src="/src/images/frivillig/fellesbilde-2014.jpg"
            caption={`Frivilliggjengen ${2014}`}
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
