---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import partition from "lodash/partition";

import classNames from "classnames";
import { isBefore } from "date-fns";
import ArtistCard from "../components/ArtistCard.astro";
import BuyTicketsButton from "../components/BuyTicketsButton.astro";
// import Spotify from "../components/Spotify.astro";
import Layout from "../layouts/Layout.astro";
// import jazzlaugUtklipp from "/public/profil/jazzlaug-utklipp.png";
import PlaceholderCard from "../components/PlaceholderCard.astro";
import jazzlaugJulelue from "/public/profil/jazzlaug-julelue.png";

const artistEntries = await getCollection("artist");
const artistList = artistEntries.map((entry) => ({
  slug: entry.slug,
  frontmatter: entry.data,
}));
const releasedArtists = () =>
  artistList.filter(
    (artist) =>
      !artist.frontmatter.releaseAt ||
      isBefore(new Date(artist.frontmatter.releaseAt), new Date()),
  );
const [upcomingArtists, pastArtists] = partition(
  releasedArtists(),
  (artist) => {
    const {
      frontmatter: { concertStartAt },
    } = artist;

    return concertStartAt && new Date(concertStartAt) > new Date();
  },
);

const byOrder = (a, b) => {
  const aOrder = Number(a.frontmatter.order) || 0;
  const bOrder = Number(b.frontmatter.order) || 0;
  if (aOrder > bOrder) {
    return 1;
  } else if (aOrder < bOrder) {
    return -1;
  } else {
    return 0;
  }
};
---

<Layout title="Mandaljazz 2026" description="Jazzfestivalen i Mandal">
  <main
    class="space-y-24 px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32"
  >
    <div class="flex flex-col gap-8 sm:gap-12">
      <div class="mx-auto flex max-w-5xl flex-col items-center gap-8">
        <div
          class="relative flex w-full flex-col items-center gap-4 pt-16 md:pt-32 lg:mx-auto lg:w-fit"
        >
          <div class="flex flex-col">
            <div class="relative flex w-full">
              <h1
                class="z-10 flex flex-col items-end font-league-spartan leading-snug text-black"
              >
                <span
                  class="block rounded-xl rounded-br-none bg-pink p-6 text-center text-4xl sm:text-7xl"
                  >9.–11. juli</span
                >
                <span class="flex w-full flex-row bg-beige">
                  <span class="block flex-1 bg-beige"></span>
                  <span
                    class="block w-fit rounded-b-xl bg-pink/50 p-2 text-4xl italic"
                    >2026</span
                  >
                </span>
              </h1>
              <!-- New date badge -->
              <div
                class="absolute -right-10 -top-6 z-10 sm:-right-10 sm:-top-8"
              >
                <div
                  class="delay-2500 rotate-12 transform rounded-full bg-red px-5 py-3 text-white"
                >
                  <span class="font-semibold">NY DATO</span>
                </div>
              </div>
            </div>
            <div
              class="absolute bottom-0 mx-auto rotate-6 px-4 py-1 text-2xl text-white"
            >
              <Image
                src={jazzlaugJulelue}
                alt="Jazzlaug med julelue"
                class="w-32 animate-[bounce_5s_ease-in-out_infinite] sm:w-48 md:w-52"
              />
            </div>
            <!-- <BuyTicketsButton class="mx-auto mt-8 w-fit" /> -->
          </div>
        </div>
      </div>
      <div class="mx-auto flex max-w-5xl flex-col items-center gap-8 sm:gap-16">
        <p class="text-center text-lg italic text-black sm:text-xl">
         Festivalpass til jazzete pris!
        </p>
        <BuyTicketsButton class="scale-125 sm:scale-150" earlyBird="left" />
      </div>
    </div>
    <div class="mx-auto max-w-5xl space-y-4 sm:space-y-8">
      <h2 class="text-4xl sm:text-6xl">Artister</h2>
      <ul
        role="list"
        class="grid grid-cols-1 gap-x-8 gap-y-12 sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          [...upcomingArtists.sort(byOrder), ...pastArtists.sort(byOrder)].map(
            (artist, index) => {
              const {
                slug,
                frontmatter: {
                  title,
                  shortTitle,
                  hideFromArtistList,
                  tagline,
                  isMorgensolo,
                  isBestillingsverk,
                  isBarnekonsert,
                  imageType,
                  cancelled,
                },
              } = artist;

              if (hideFromArtistList) {
                return null;
              }

              return (
                <ArtistCard
                  className={classNames({
                    "h-[600px] lg:col-span-2 lg:row-span-2 lg:h-[628px]":
                      index === 0 || index === 9,
                    "h-[600px] lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:h-[628px]":
                      index === 4 || index === 16,
                  })}
                  href={`/artist/${slug}`}
                  title={shortTitle || title}
                  tagline={tagline}
                  slug={slug}
                  imageType={imageType}
                  isMorgensolo={isMorgensolo}
                  isBestillingsverk={isBestillingsverk}
                  isBarnekonsert={isBarnekonsert}
                  cancelled={cancelled}
                />
              );
            },
          )
        }
        <PlaceholderCard title="Kul artist…" />
        <PlaceholderCard title="Spennende saker…" />
        <PlaceholderCard title="Oi, kommer de…" />
        <PlaceholderCard title="Kommer snart…" />
        <PlaceholderCard title="Kommer snart…" />
      </ul>
    </div>
    <!-- <Spotify src="https://open.spotify.com/playlist/0EIBP4fq87VohyCpG5TPsZ" /> -->
    <BuyTicketsButton class="mx-auto w-fit" earlyBird="right" />
  </main>
</Layout>
