---
import capitalize from "lodash/capitalize";
import groupBy from "lodash/groupBy";
import sortBy from "lodash/sortBy";
import BuyTicketsButton from "../components/BuyTicketsButton.astro";

import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import { formatHumanDate, formatTime } from "../utils/date";

const artistsPages = await Astro.glob("../pages/artist/*.mdx");
const tbaArtists = [
  {
    title: "Jazzlaugs gebursdag m/M. Rexen solo",
    venue: "Bakgården",
    concertStartAt: "2024-06-27T18:00",
  },
  {
    title: "Nachspiel",
    venue: "Dynamitten",
    concertStartAt: "2024-06-27T23:59",
  },
  {
    title: "Jazzparade (med Sørnorsk ungdomsstorband)",
    venue: "Gierts Karis Plass",
    concertStartAt: "2024-06-29T13:30",
  },
  {
    title: "Sørnorsk ungdomsstorband",
    venue: "Gierts Karis Plass",
    concertStartAt: "2024-06-29T14:00",
  },
];

const concertsGroupedByDay = Object.entries(
  groupBy(
    sortBy(
      [
        ...artistsPages.filter(
          ({ frontmatter: { hideFromProgram } }) => !hideFromProgram,
        ),
        ...tbaArtists.map((tbaArtist) => ({ frontmatter: tbaArtist })),
      ],
      "frontmatter.concertStartAt",
    ),
    (artistPage) => formatHumanDate(artistPage.frontmatter.concertStartAt),
  ),
);
---

<Layout
  title="Program // mandaljazz 2024"
  description="Programmet til mandaljazz 2024"
>
  <main class="px-4 sm:px-12 md:px-24 lg:px-32 py-24 sm:py-40">
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="font-display text-5xl md:text-7xl">Program</h1>
      {
        concertsGroupedByDay.map(([day, artists]) => {
          return (
            <div class="space-y-4">
              <h2 class="font-display text-2xl p-4 bg-dark-blue text-white rounded-lg w-fit sticky top-[58px] z-10">
                {capitalize(day)}
              </h2>
              <div class="grid grid-cols-4 gap-y-4 w-full text-lg">
                <div class="py-3 font-normal border-b border-dark-blue col-span-3 md:col-span-2 md:block">
                  Artist
                </div>
                <div class="py-3 font-normal border-b border-dark-blue hidden md:block">
                  Scene
                </div>
                <div class="py-3 font-normal border-b border-dark-blue md:block">
                  Tid
                </div>
                {
                  // @ts-ignore - This is the list of artistPages grouped by day
                  artists.map(
                    ({
                      frontmatter: {
                        title,
                        shortTitle,
                        id,
                        venue,
                        concertStartAt,
                        hideFromProgram,
                        isPlaceholder,
                      },
                    }) => {
                      if (hideFromProgram) {
                        return null;
                      }

                      return (
                        <div class="grid grid-cols-4 gap-y-1 col-span-4">
                          <div class="col-span-4 flex flex-row gap-2 md:col-span-2 text-xl md:text-lg">
                            {id ? (
                              <img
                                src={`/artist/${id}.jpg`}
                                alt={shortTitle || title}
                                class="w-8 h-8 rounded-lg object-cover"
                              />
                            ) : null}
                            <p class="truncate">
                              {id && !isPlaceholder ? (
                                <Link href={`/artist/${id}`} title={title}>
                                  {shortTitle || title}
                                </Link>
                              ) : (
                                title
                              )}
                            </p>
                          </div>
                          <div class="col-span-3 md:col-span-1">{venue}</div>
                          <div class="">{formatTime(concertStartAt)}</div>
                        </div>
                      );
                    },
                  )
                }
              </div>
            </div>
          );
        })
      }
      <BuyTicketsButton class="w-fit mx-auto" />
    </div>
  </main>
</Layout>
