---
import capitalize from "lodash/capitalize";
import groupBy from "lodash/groupBy";
import sortBy from "lodash/sortBy";
import BuyTicketsButton from "../components/BuyTicketsButton.astro";

import { Image } from "astro:assets";
import { isBefore } from "date-fns";
import Link from "../components/Link.astro";
import MorgensoloTag from "../components/MorgensoloTag.astro";
import Layout from "../layouts/Layout.astro";
import { formatHumanDate, formatTime } from "../utils/date";
import { imagePathToSrc } from "../utils/images";

const artistsPages = await Astro.glob("../pages/artist/*.mdx");
const releasedArtists = () =>
  artistsPages.filter(
    (artist) =>
      !artist.frontmatter.hideFromProgram &&
      (!artist.frontmatter.releaseAt ||
        isBefore(artist.frontmatter.releaseAt, new Date())),
  );
const tbaArtists = [
  // {
  //   title: "Jazzlaugs gebursdag m/M. Rexen solo",
  //   venue: "Bakgården",
  //   concertStartAt: "2024-06-27T18:30",
  //   isFree: true,
  //   externalLink: "https://www.facebook.com/events/334325382874540/",
  //   altImage: "/src/images/profil/trompet.png",
  // },
  // {
  //   title: "Nachspiel",
  //   venue: "Dynamitten",
  //   concertStartAt: "2024-06-27T23:59",
  //   isFree: true,
  //   altImage: "/src/images/profil/frimerke-pils.png",
  // },
  // {
  //   title: "Jazzparade (med SNUS)",
  //   venue: "Gierts Karis Plass",
  //   concertStartAt: "2024-06-29T13:30",
  //   isFree: true,
  //   altImage: "/src/images/profil/frimerke-sykkeltur.png",
  // },
  // {
  //   title: "Afterwork",
  //   venue: "Bakgården",
  //   concertStartAt: "2024-06-28T16:00",
  //   isFree: true,
  //   externalLink: "https://www.facebook.com/events/444193931498788/",
  //   altImage: "/src/images/profil/frimerke-pils.png",
  // },
];

const concertsGroupedByDay = Object.entries(
  groupBy(
    sortBy(
      [
        ...releasedArtists().filter(
          ({ frontmatter: { hideFromProgram } }) => !hideFromProgram,
        ),
        ...tbaArtists.map((tbaArtist) => ({ frontmatter: tbaArtist })),
      ],
      "frontmatter.concertStartAt",
    ),
    (artistPage) => formatHumanDate(artistPage.frontmatter.concertStartAt),
  ),
);
---

<Layout
  title="Program // mandaljazz 2025"
  description="Programmet til mandaljazz 2025"
>
  <main class="px-4 py-24 sm:px-12 sm:py-40 md:px-24 lg:px-32">
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="text-5xl md:text-7xl">Program</h1>
      {
        concertsGroupedByDay.map(([day, artists]) => {
          return (
            <div class="space-y-4">
              <h2 class="sticky top-[52px] z-10 w-fit rounded-xl rounded-tl-none bg-dark-blue p-4 text-2xl text-white lg:top-[56px]">
                {capitalize(day)}
              </h2>
              <div class="grid w-full grid-cols-4 gap-y-4 text-lg">
                <div class="col-span-3 border-b border-dark-blue py-3 font-normal md:col-span-2 md:block">
                  Artist
                </div>
                <div class="hidden border-b border-dark-blue py-3 font-normal md:block">
                  Scene
                </div>
                <div class="border-b border-dark-blue py-3 font-normal md:block">
                  Tid
                </div>
                {
                  // @ts-ignore - This is the list of artistPages grouped by day
                  artists.map(
                    ({
                      frontmatter: {
                        title,
                        shortTitle,
                        tagline,
                        id,
                        imageType,
                        venue,
                        concertStartAt,
                        concertEndAt,
                        hideFromProgram,
                        isPlaceholder,
                        isMorgensolo,
                        isFree,
                        externalLink,
                        altImage,
                      },
                    }) => {
                      const image = imageType
                        ? `${id}.${imageType}`
                        : `${id}.jpg`;

                      if (hideFromProgram) {
                        return null;
                      }

                      return (
                        <div class="col-span-4 grid grid-cols-4 gap-2 gap-y-1">
                          <div class="col-span-4 flex flex-row items-center gap-2 text-xl md:col-span-2 md:text-lg">
                            {id ? (
                              <img
                                src={`/artist/${image}`}
                                alt={shortTitle || title}
                                class="h-8 w-8 rounded-lg object-cover"
                              />
                            ) : altImage ? (
                              <Image
                                src={imagePathToSrc(altImage)}
                                alt={shortTitle || title}
                                class="h-8 w-8 object-contain"
                              />
                            ) : (
                              <Image
                                src={imagePathToSrc(
                                  "/src/images/profil/logo/primary/black.svg",
                                )}
                                alt={shortTitle || title}
                                class="h-8 w-8 object-contain"
                              />
                            )}
                            <div>
                              <div class="flex flex-row items-start gap-2">
                                {id && !isPlaceholder ? (
                                  <div>
                                    <Link
                                      href={`/artist/${id}`}
                                      title={title}
                                      class=""
                                    >
                                      {shortTitle || title}
                                    </Link>
                                  </div>
                                ) : externalLink ? (
                                  <div>
                                    <Link
                                      href={externalLink}
                                      external
                                      title={title}
                                    >
                                      {title}
                                    </Link>
                                  </div>
                                ) : (
                                  <div title={title}>{title}</div>
                                )}

                                {isFree && (
                                  <div class="-rotate-6 rounded bg-pink/80 px-1 text-xs text-black">
                                    Gratis
                                  </div>
                                )}
                                {isMorgensolo && (
                                  <MorgensoloTag
                                    className="text-xs bg-yellow px-1 py-1 -rotate-6 rounded"
                                    size={16}
                                  />
                                )}
                              </div>
                              <p class="text-sm">{tagline}</p>
                            </div>
                          </div>
                          <div class="col-span-3 md:col-span-1">{venue}</div>
                          <div class="">{`${formatTime(concertStartAt)}${concertEndAt ? `–${formatTime(concertEndAt)}` : ""}`}</div>
                        </div>
                      );
                    },
                  )
                }
              </div>
            </div>
          );
        })
      }
      <BuyTicketsButton class="mx-auto w-fit" />
      <Image
        src={imagePathToSrc("/src/images/profil/frimerke-pils.png")}
        class="mx-auto max-w-72 md:max-w-96"
        alt="Frimerke pils"
      />
    </div>
  </main>
</Layout>
