---
import capitalize from "lodash/capitalize";
import groupBy from "lodash/groupBy";
import sortBy from "lodash/sortBy";

import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import { formatDate, formatTime } from "../utils/date";

const artistsPages = await Astro.glob("../pages/artist/*.mdx");
const tbaArtists = [
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-06-29T20:00",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-06-29T22:00",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-06-30T23:30",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-07-01T11:30",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-07-01T13:00",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-07-01T14:00",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-07-01T20:00",
  },
  {
    title: "TBA",
    venue: "TBA",
    concertStartAt: "2023-07-01T22:00",
  },
];

const concertsGroupedByDay = Object.entries(
  groupBy(
    sortBy(
      [
        ...artistsPages.filter(({ frontmatter: { hidden } }) => !hidden),
        ...tbaArtists.map((tbaArtist) => ({ frontmatter: tbaArtist })),
      ],
      "frontmatter.concertStartAt"
    ),
    (artistPage) => formatDate(artistPage.frontmatter.concertStartAt)
  )
);
---

<Layout
  title="Program // mandaljazz 2023"
  description="Programmet til mandaljazz 2023"
>
  <main class="px-4 sm:px-12 md:px-24 lg:px-32 py-20 sm:py-24">
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="font-display text-5xl md:text-7xl">Program</h1>
      {
        concertsGroupedByDay.map(([day, artists]) => {
          return (
            <div class="space-y-4">
              <h2 class="font-display text-2xl p-4 bg-pink text-white rounded-lg w-fit">
                {capitalize(day)}
              </h2>
              <div class="grid grid-cols-4 gap-y-4 w-full text-lg">
                <div class="py-3 font-normal border-b border-dark-blue col-span-3 md:col-span-2 md:block">
                  Artist
                </div>
                <div class="py-3 font-normal border-b border-dark-blue hidden md:block">
                  Scene
                </div>
                <div class="py-3 font-normal border-b border-dark-blue md:block">
                  Tid
                </div>
                {
                  // @ts-ignore - This is the list of artistPages grouped by day
                  artists.map(
                    ({
                      frontmatter: {
                        title,
                        shortTitle,
                        id,
                        venue,
                        concertStartAt,
                        hidden,
                      },
                    }) => {
                      if (hidden) {
                        return null;
                      }

                      return (
                        <div class="grid grid-cols-4 col-span-4">
                          <div class="col-span-4 md:col-span-2 text-xl md:text-lg">
                            {id ? (
                              <Link href={`/artist/${id}`} title={title}>
                                {shortTitle || title}
                              </Link>
                            ) : (
                              title
                            )}
                          </div>
                          <div class="col-span-3 md:col-span-1">{venue}</div>
                          <div class="">{formatTime(concertStartAt)}</div>
                        </div>
                      );
                    }
                  )
                }
              </div>
            </div>
          );
        })
      }
      <p>
        <em
          >*TBA betyr «To be anounced». Artisten er altså ikke sluppet ennå.
          Følg med på <Link
            href="https://www.facebook.com/mandaljazz"
            title="Facebook"
            external
          >
            Facebook
          </Link> eller <Link
            href="https://www.instagram.com/mandaljazz/"
            title="Instagram"
            external
          >
            Instagram
          </Link> for rykende ferske artistslipp.</em
        >
      </p>
    </div>
  </main>
</Layout>
