---
import { Icon } from "astro-icon";
import Link from "./Link.astro";

export interface Props {
  previousArtist: {
    frontmatter: { id: string; shortTitle?: string; title: string };
  };
  nextArtist: {
    frontmatter: { id: string; shortTitle?: string; title: string };
  };
  class?: string;
  compact?: boolean;
}

const {
  previousArtist: {
    frontmatter: { id: prevId, shortTitle: prevShortTitle, title: prevTitle },
  },
  nextArtist: {
    frontmatter: { id: nextId, shortTitle: nextShortTitle, title: nextTitle },
  },
  class: extraClasses,
  compact,
} = Astro.props;
---

<div
  class={`flex ${
    compact ? "justify-between" : "flex-col"
  } gap-4 sm:flex-row sm:justify-between ${extraClasses}`}
>
  <div class="flex flex-row items-center gap-2 self-start sm:self-auto">
    <Link href={`/artist/${prevId}`} title={prevShortTitle || prevTitle}>
      <span class="flex flex-row items-center gap-2">
        <Icon
          class="icon transition-transform group-hover:-translate-y-0.5"
          pack="ion"
          name="play-back-outline"
          size={40}
        />
        <span class={compact ? "hidden lg:block" : ""}
          >{prevShortTitle || prevTitle}</span
        ></span
      >
    </Link>
    <a href={`/artist/${prevId}`} title={prevShortTitle || prevTitle}
      ><img
        src={`/artist/${prevId}.jpg`}
        alt={prevShortTitle || prevTitle}
        class="h-10 w-10 rounded-lg object-cover"
      /></a
    >
  </div>
  <div class="flex flex-row items-center gap-2 self-end sm:self-auto">
    <a href={`/artist/${nextId}`} title={nextShortTitle || nextTitle}
      ><img
        src={`/artist/${nextId}.jpg`}
        alt={nextShortTitle || nextTitle}
        class="h-10 w-10 rounded-lg object-cover"
      /></a
    >
    <Link href={`/artist/${nextId}`} title={nextShortTitle || nextTitle}>
      <span class="flex flex-row items-center gap-2"
        ><span class={compact ? "hidden lg:block" : ""}
          >{nextShortTitle || nextTitle}</span
        >
        <Icon
          class="icon transition-transform group-hover:-translate-y-0.5"
          pack="ion"
          name="play-forward-outline"
          size={40}
        /></span
      >
    </Link>
  </div>
</div>
