---
import classNames from "classnames";
import BarnekonsertTag from "./BarnekonsertTag.astro";
import BestillingsverkTag from "./BestillingsverkTag.astro";
import ImageWithBlurredBackground from "./ImageWithBlurredBackground.astro";
import MorgensoloTag from "./MorgensoloTag.astro";
export interface Props {
  title: string;
  tagline: string;
  href: string;
  slug: string;
  image: string;
  isMorgensolo?: boolean;
  isBestillingsverk?: boolean;
  isBarnekonsert?: boolean;
  cancelled?: boolean;
  className?: string;
}

const {
  href,
  title,
  image,
  className,
  tagline,
  isMorgensolo,
  isBestillingsverk,
  isBarnekonsert,
  cancelled,
} = Astro.props;
---

<li
  class={classNames(
    `rounded-xl w-full h-96 sm:h-72 transition-transform group hover:rotate-1`,
    className,
  )}
>
  <a href={href} class="relative block h-full w-full">
    <ImageWithBlurredBackground
      src={image}
      alt={title}
      className="rounded-xl"
    />
    {
      isMorgensolo && (
        <div class="absolute right-2 top-2">
          <MorgensoloTag />
        </div>
      )
    }
    {
      isBestillingsverk && (
        <div class="absolute right-2 top-2">
          <BestillingsverkTag />
        </div>
      )
    }
    {
      isBarnekonsert && (
        <div class="absolute right-2 top-2">
          <BarnekonsertTag />
        </div>
      )
    }
    <div
      class="absolute bottom-0 right-0 w-full translate-x-2 translate-y-4 rounded-t-xl bg-blue p-4 text-center text-xl text-white opacity-0 transition-all group-hover:-translate-y-8 group-hover:translate-x-1.5 group-hover:-rotate-2 group-hover:opacity-100 sm:translate-x-4 sm:translate-y-4 sm:group-hover:translate-x-3.5"
    >
      <p>{tagline}</p>
    </div>
    <h2
      class={classNames(
        `font-medium absolute bottom-0 right-0 w-full translate-x-2 translate-y-4 sm:translate-x-4 sm:translate-y-4 text-center
      p-4 h-14 items-center justify-center flex rounded-xl transition-transform group-hover:-rotate-2 bg-pink whitespace-nowrap truncate`,
        {
          "text-xl": title.length < 20,
          "text-base": title.length >= 20 && title.length < 25,
          "text-sm": title.length >= 25,
        },
      )}
    >
      <span
        class={classNames({
          "line-through": cancelled,
        })}>{title}</span
      >
      {cancelled && <span class="ml-2 text-base"> AVLYST</span>}
    </h2>
  </a>
</li>
