---
import { Icon } from "astro-icon";
import { getArtistUrl } from "../utils/artist";
import Link from "./Link.astro";

export interface Props {
  previousArtist: {
    frontmatter: {
      slug: string;
      shortTitle?: string;
      title: string;
      image: string;
    };
  };
  nextArtist: {
    frontmatter: {
      slug: string;
      shortTitle?: string;
      title: string;
      image: string;
    };
  };
  class?: string;
  compact?: boolean;
}

const {
  previousArtist: {
    frontmatter: {
      slug: prevSlug,
      shortTitle: prevShortTitle,
      title: prevTitle,
      image: prevImage,
    },
  },
  nextArtist: {
    frontmatter: {
      slug: nextSlug,
      shortTitle: nextShortTitle,
      title: nextTitle,
      image: nextImage,
    },
  },
  class: extraClasses,
  compact,
} = Astro.props;
---

<div
  class={`flex ${
    compact ? "justify-between" : "flex-col"
  } gap-4 sm:flex-row sm:justify-between ${extraClasses}`}
>
  <div class="flex flex-row items-center gap-2 self-start sm:self-auto">
    <Link href={getArtistUrl(prevSlug)} title={prevShortTitle || prevTitle}>
      <span class="flex flex-row items-center gap-2">
        <Icon
          class="icon transition-transform group-hover:-translate-y-0.5"
          pack="ion"
          name="play-back-outline"
          size={40}
        />
        <span class={compact ? "hidden lg:block" : ""}
          >{prevShortTitle || prevTitle}</span
        ></span
      >
    </Link>
    <a href={getArtistUrl(prevSlug)} title={prevShortTitle || prevTitle}
      ><img
        src={prevImage}
        alt={prevShortTitle || prevTitle}
        class="h-10 w-10 rounded-lg object-cover"
      /></a
    >
  </div>
  <div class="flex flex-row items-center gap-2 self-end sm:self-auto">
    <a href={getArtistUrl(nextSlug)} title={nextShortTitle || nextTitle}
      ><img
        src={nextImage}
        alt={nextShortTitle || nextTitle}
        class="h-10 w-10 rounded-lg object-cover"
      /></a
    >
    <Link href={getArtistUrl(nextSlug)} title={nextShortTitle || nextTitle}>
      <span class="flex flex-row items-center gap-2"
        ><span class={compact ? "hidden lg:block" : ""}
          >{nextShortTitle || nextTitle}</span
        >
        <Icon
          class="icon transition-transform group-hover:-translate-y-0.5"
          pack="ion"
          name="play-forward-outline"
          size={40}
        /></span
      >
    </Link>
  </div>
</div>
