---
import classNames from "classnames";
import BarnekonsertTag from "./BarnekonsertTag.astro";
import BestillingsverkTag from "./BestillingsverkTag.astro";
import ImageWithBlurredBackground from "./ImageWithBlurredBackground.astro";
import MorgensoloTag from "./MorgensoloTag.astro";
export interface Props {
  title: string;
  tagline: string;
  href: string;
  id: string;
  imageType?: string;
  isMorgensolo?: boolean;
  isBestillingsverk?: boolean;
  isBarnekonsert?: boolean;
  className?: string;
}

const {
  href,
  title,
  id,
  imageType,
  className,
  tagline,
  isMorgensolo,
  isBestillingsverk,
  isBarnekonsert,
} = Astro.props;

const image = imageType ? `${id}.${imageType}` : `${id}.jpg`;
---

<li
  class={classNames(
    `rounded-xl w-full h-96 sm:h-72 transition-transform group hover:rotate-1`,
    className,
  )}
>
  <a href={href} class="relative block h-full w-full">
    <ImageWithBlurredBackground
      src={`/artist/${image}`}
      alt={title}
      className="rounded-xl"
    />
    {
      isMorgensolo && (
        <div class="absolute right-2 top-2">
          <MorgensoloTag />
        </div>
      )
    }
    {
      isBestillingsverk && (
        <div class="absolute right-2 top-2">
          <BestillingsverkTag />
        </div>
      )
    }
    {
      isBarnekonsert && (
        <div class="absolute right-2 top-2">
          <BarnekonsertTag />
        </div>
      )
    }
    <div
      class="absolute bottom-0 right-0 w-full translate-x-2 translate-y-4 rounded-t-xl bg-blue p-4 text-center text-xl text-white opacity-0 transition-all group-hover:-translate-y-9 group-hover:translate-x-1.5 group-hover:-rotate-2 group-hover:opacity-100 sm:translate-x-4 sm:translate-y-4 sm:group-hover:translate-x-3.5"
    >
      <p>{tagline}</p>
    </div>
    <h2
      class={`font-medium absolute bottom-0 right-0 w-full translate-x-2 translate-y-4 sm:translate-x-4 sm:translate-y-4 text-xl text-center
      p-4 rounded-xl transition-transform group-hover:-rotate-2 bg-pink`}
    >
      {title}
    </h2>
  </a>
</li>
