---
import classNames from "classnames";
import ImageWithBlurredBackground from "./ImageWithBlurredBackground.astro";

export interface Props {
  title: string;
  ingress?: string;
  href: string;
  image: string;
  className?: string;
}

const { href, title, ingress, image, className } = Astro.props;
---

<li
  class={classNames(
    `rounded-xl w-full h-96 sm:h-72 transition-transform group hover:rotate-1`,
    className,
  )}
>
  <a href={href} class="relative block h-full w-full space-y-4">
    <ImageWithBlurredBackground
      src={image}
      alt={title}
      className="rounded-xl"
    />
    <h2
      class={classNames(
        `font-medium absolute bottom-0 right-0 w-full translate-x-2 translate-y-4 sm:translate-x-4 sm:translate-y-4 text-center
      p-4 h-14 items-center justify-center flex rounded-xl transition-transform group-hover:-rotate-2 bg-pink whitespace-nowrap truncate`,
        {
          "text-xl": title.length < 20,
          "text-base": title.length >= 20 && title.length < 25,
          "text-sm": title.length >= 25,
        },
      )}
    >
      {title}
    </h2>
    {
      ingress && (
        <div class="w-full rounded-t-xl p-4 text-xl transition-transform group-hover:-rotate-1">
          <p>{ingress}</p>
        </div>
      )
    }
  </a>
</li>
