---
import classNames from "classnames";
import ImageWithBlurredBackground from "./ImageWithBlurredBackground.astro";

export interface Props {
  title: string;
  ingress?: string;
  href: string;
  image: string;
  className?: string;
}

const { href, title, ingress, image, className } = Astro.props;
---

<li class={classNames(`group rounded-xl w-full space-y-4`, className)}>
  <a href={href} class="block w-full transition-transform group-hover:rotate-2">
    <ImageWithBlurredBackground
      src={image}
      alt={title}
      className="h-96 rounded-xl sm:h-72"
    />
  </a>
  <a href={href} class="block w-full">
    <h2
      class={classNames(
        "font-medium w-full p-4 items-center justify-center flex rounded-xl text-xl",
      )}
    >
      {title}
    </h2>
  </a>
  {
    ingress && (
      <div class="w-full p-4 text-xl transition-transform">
        <p>{ingress}</p>
      </div>
    )
  }
</li>
