---
import FlickrAlbum from "./FlickrAlbum.astro";
import Spotify from "./Spotify.astro";

export interface Props {
  year: string;
  image: string;
  spotifyUrl?: string;
  flickr?: {
    href: string;
    src: string;
  };
}

const { year, spotifyUrl, image, flickr } = Astro.props;
---

<div class="space-y-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <h2
      class={`font-display md:text-center text-8xl md:text-9xl p-4 text-black rounded-lg self-center`}
    >
      {year}
    </h2>
    <div>{spotifyUrl && <Spotify src={spotifyUrl} />}</div>
    <img src={image} class="rounded-lg" alt={`Festivalplakat ${year}`} />
    <ul class="space-y-4 p-8 text-xl">
      <slot />
    </ul>
  </div>
  {
    flickr && (
      <FlickrAlbum
        href={flickr.href}
        src={flickr.src}
        title={`Bilder fra mandaljazz ${year}`}
      />
    )
  }
</div>
