---
import { Icon } from "astro-icon";
export interface Props {
  href: string;
  title: string;
  external?: boolean;
  openInNewTab?: boolean;
  class?: string;
  unstyled?: boolean;
  hideInitialUnderline?: boolean;
}

const {
  href,
  external,
  openInNewTab,
  class: extraClasses,
  unstyled,
  hideInitialUnderline,
  title,
} = Astro.props;

const classes = [
  "inline",
  unstyled ? undefined : "link",
  hideInitialUnderline ? "hide-initial-underline" : undefined,
  extraClasses,
];
---

{
  openInNewTab || external ? (
    <a
      href={href}
      class:list={classes}
      rel="noopener nofollow"
      target="_blank"
      title={title}
    >
      {external && !unstyled ? (
        <>
          <slot />{" "}
          <Icon
            class="icon mb-2 inline"
            pack="ion"
            name="open-outline"
            size={16}
          />
        </>
      ) : (
        <slot />
      )}
    </a>
  ) : (
    <a
      href={href}
      class:list={classes}
      aria-current={Astro.url.pathname === href ? "page" : undefined}
      title={title}
    >
      <slot />
    </a>
  )
}
