---
import { Icon } from "astro-icon";

export interface Props {
  class?: string;
  navItems: {
    href: string;
    title: string;
  }[];
}

const { class: extraClasses, navItems } = Astro.props;
---

<div class={`relative ${extraClasses}`}>
  <nav
    class="fixed w-full text-2xl top-0 left-0 transition-transform duration-500 ease-in-out -translate-y-full bg-dark-blue text-white rounded-lg off-screen-nav-items flex flex-col gap-4 items-center py-24 bg-grainy"
  >
    {
      navItems.map(({ href, title }) => (
        <div class="relative">
          {Astro.url.pathname === href || Astro.url.pathname === `${href}/` ? (
            <div class="absolute top-1.5 -left-5 bg-blue w-3 h-3 rounded-full" />
          ) : null}
          <a href={href} title={title} class={`mobile-nav-link relative z-10`}>
            {title}
          </a>
        </div>
      ))
    }
  </nav>
  <nav
    class="menu fixed w-full top-0 px-4 flex items-center justify-between gap-10 rounded-b-lg text-white z-10 duration-500 bg-dark-blue bg-grainy"
  >
    <a href="/" class="m-3"
      ><img src="/profil/logo/tertiary/white.svg" class="w-7 h-auto" /></a
    >
    <button class="hamburger">
      <Icon
        class="group-hover:-translate-y-0.5 transition-transform p-2"
        pack="ion"
        name="menu"
        size={48}
      /></button
    >
  </nav>
</div>

<script>
  const hamburger = document.querySelector("button.hamburger");
  const offScreenNavItemsList = document.querySelector(".off-screen-nav-items");

  const toggleMobileMenu = () => {
    ["-translate-y-full", "translate-y-0", "translate-x-0"].map((c) =>
      offScreenNavItemsList.classList.toggle(c)
    );
  };

  hamburger.addEventListener("click", () => {
    toggleMobileMenu();
  });

  const navLinks = document.querySelectorAll(".mobile-nav-link");
  navLinks.forEach((link) => {
    link.addEventListener("click", (e) => {
      toggleMobileMenu();
    });
  });
</script>
