---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import { imagePathToSrc } from "../utils/images";

export interface Props {
  class?: string;
  navItems: {
    href: string;
    title: string;
  }[];
}

const { class: extraClasses, navItems } = Astro.props;
---

<div class={`relative ${extraClasses}`}>
  <nav
    class="off-screen-nav-items fixed left-0 top-0 flex w-full -translate-y-full flex-col items-center gap-4 rounded-lg bg-dark-blue py-24 text-2xl text-white shadow-xl transition-transform duration-500 ease-in-out"
  >
    {
      navItems.map(({ href, title }) => (
        <div class="relative">
          {Astro.url.pathname === href || Astro.url.pathname === `${href}/` ? (
            <div class="absolute -left-5 top-1.5 h-3 w-3 rounded-full bg-blue" />
          ) : null}
          <a href={href} title={title} class={`mobile-nav-link relative z-10`}>
            {title}
          </a>
        </div>
      ))
    }
  </nav>
  <nav
    class="menu fixed top-0 z-10 flex w-full items-center justify-between gap-10 rounded-b-lg bg-dark-blue px-4 text-white shadow-xl duration-500"
  >
    <a href="/" class="m-3"
      ><Image
        src={imagePathToSrc("/src/images/profil/logo/tertiary/white.svg")}
        class="h-auto w-7"
        alt="mandaljazz logo"
      /></a
    >
    <button class="hamburger">
      <Icon
        class="p-2 transition-transform group-hover:-translate-y-0.5"
        pack="ion"
        name="menu"
        size={48}
      /></button
    >
  </nav>
</div>

<script>
  const hamburger = document.querySelector("button.hamburger");
  const offScreenNavItemsList = document.querySelector(".off-screen-nav-items");

  const toggleMobileMenu = () => {
    ["-translate-y-full", "translate-y-0", "translate-x-0"].map((c) =>
      offScreenNavItemsList.classList.toggle(c),
    );
  };

  hamburger.addEventListener("click", () => {
    toggleMobileMenu();
  });

  const navLinks = document.querySelectorAll(".mobile-nav-link");
  navLinks.forEach((link) => {
    link.addEventListener("click", (e) => {
      toggleMobileMenu();
    });
  });
</script>
