---
import SponsorList from "./SponsorList.astro";

const generalSponsors = [
  {
    name: "Sparebanken Sør",
    url: "https://www.sor.no/",
    image: "sparebanken-sor.png",
  },
];

const mainSponsors = [
  {
    name: "Hr. Redaktør!",
    url: "https://red.no/",
    image: "hr-redaktor.png",
  },
  {
    name: "Larsen Optikk",
    url: "https://larsenoptikk.no/",
    image: "larsen-optikk.png",
  },
  {
    name: "Lindesnes Avis",
    url: "https://www.l-a.no/",
    image: "lindesnes-avis.png",
  },
  {
    name: "WHY Connect",
    url: "https://whyconnect.no/",
    image: "whyconnect.png",
  },
];

const regularSponsors = [
  {
    name: "Jobzone Mandal",
    url: "https://jobzone.no/avdelinger/mandal/",
    image: "jobzone.png",
  },
  {
    name: "SKAP",
    url: "https://skapfhs.no/",
    image: "skap.png",
  },
];

const supporterSponsors = [
  {
    name: "Corado Coffee Roasters",
    url: "https://coradocoffeeroasters.com/",
    image: "corado.png",
  },
  {
    name: "Egeland Rør",
    url: "https://www.egeland.no/",
    image: "egeland-ror.png",
  },
  { name: "Ekstralys", url: "https://ekstralys.no/", image: "ekstralys.png" },
  { name: "Enøk Total", url: "https://enoktotal.no/", image: "enok-total.png" },
  {
    name: "Gullsmed Danielsen",
    url: "https://www.gullsmeddanielsen.no",
    image: "gullsmed-danielsen.png",
  },
  {
    name: "Håland Utstyr",
    url: "https://www.halandutstyr.no/",
    image: "haland-utstyr.png",
  },
  {
    name: "Jazzlaugs Venner",
    url: "/jazzlaugs-venner",
    image: "jazzlaugs-venner.png",
  },
  {
    name: "Jens Westbye Fotograf",
    url: "https://www.jenswestbye.com/",
    image: "jens-westbye-fotograf.png",
  },
  {
    name: "Kjøbmandsgaarden Hotel",
    url: "https://kjobmandsgaarden.no/",
    image: "kjobmandsgaarden.png",
  },
  {
    name: "Mandal Musikkforening",
    url: "https://mmf.no/",
    image: "mandal-musikkforening.png",
  },
  {
    name: "Norli",
    url: "https://www.facebook.com/norlimandal/",
    image: "norli.jpg",
  },
  { name: "Nøsted", url: "https://www.nosted.com/", image: "nosted.png" },
  {
    name: "Oakland",
    url: "https://www.oakland.no/avdeling/mandal",
    image: "oakland.png",
  },
  {
    name: "Revisorsenteret Mandal",
    url: "https://revisorsenteretmandal.no/",
    image: "revisorsenteret-mandal.png",
  },
  {
    name: "Scene & Hobby",
    url: "https://www.facebook.com/people/Scene-og-Hobby/100086513974477/",
    image: "scene-og-hobby.png",
  },
  {
    name: "Sjøsanden Grafiske",
    url: "https://www.sjograf.no/",
    image: "sjosanden-grafiske.png",
  },
  {
    name: "Styringsgruppen Regnskap",
    url: "https://www.styringsgruppen.no/",
    image: "styringsgruppen.svg",
  },
  {
    name: "Sørlandsreklame",
    url: "https://sorlandsreklame.no/",
    image: "sorlandsreklame.png",
  },
  {
    name: "Sørlandets Elektro",
    url: "https://www.seeas.no/",
    image: "sorlandets-elektro.png",
  },
  {
    name: "TESS",
    url: "https://www.tess.no/",
    image: "tess.png",
  },
  {
    name: "Tor Fasseland",
    url: "https://www.tor-fasseland.no/",
    image: "tor-fasseland.png",
  },
  {
    name: "Tønnesen 1937",
    url: "https://tonnesen1937.no/",
    image: "tonnesen.png",
  },
  { name: "Veidekke", url: "http://www.veidekke.no/", image: "veidekke.jpg" },
];

const publicSponsors = [
  {
    name: "Agder Fylkeskommune",
    url: "https://agderfk.no/",
    image: "agder-fylkeskommune.png",
  },
  {
    name: "Bergesenstiftelsen",
    url: "https://bergesenstiftelsen.no/",
    image: "bergesenstiftelsen.png",
  },
  {
    name: "Kulturrådet",
    url: "https://www.kulturradet.no/",
    image: "kulturraadet.png",
  },
  {
    name: "Lindesnes kommune",
    url: "https://www.lindesnes.kommune.no/",
    image: "lindesnes-kommune.png",
  },
  {
    name: "Norsk Jazzforum",
    url: "https://jazzforum.jazzinorge.no/",
    image: "norsk-jazzforum.svg",
  },
  {
    name: "KOMP (Norsk Musikkråd)",
    url: "https://www.musikk.no/nmr/tilskuddsordninger/komp",
    image: "norsk-musikkrad.png",
  },
  {
    name: "Sør-Norsk Jazzsenter",
    url: "https://sornorsk.jazzinorge.no/",
    image: "sor-norsk-jazzsenter.png",
  },
];

const partners = [
  {
    name: "Balansemerket",
    url: "https://balansemerket.no/",
    image: "balansemerket.png",
  },
  { name: "Keychange", url: "https://keychange.eu/", image: "keychange.png" },
];
---

<section class="bg-yellow/20 py-24 shadow-inner">
  <div class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto flex max-w-5xl flex-col gap-12">
      <div class="space-y-8">
        <h1
          class="text-md mx-auto w-fit rounded-lg bg-yellow px-4 py-2 font-display"
        >
          Generalsponsor
        </h1>
        <SponsorList size="xl" sponsors={generalSponsors} />
      </div>
      <div class="grid gap-24 sm:grid-cols-5 sm:gap-8">
        <div class="space-y-8 sm:col-span-3">
          <h1
            class="text-md mx-auto w-fit rounded-lg bg-yellow px-4 py-2 font-display"
          >
            Hovedsponsorer
          </h1>
          <SponsorList size="lg" sponsors={mainSponsors} />
        </div>
        <div class="space-y-8 sm:col-span-2">
          <h1
            class="text-md mx-auto w-fit rounded-lg bg-yellow px-4 py-2 font-display"
          >
            Sponsorer
          </h1>
          <SponsorList size="md" sponsors={regularSponsors} />
        </div>
      </div>
      <div class="space-y-8">
        <h1
          class="text-md mx-auto w-fit rounded-lg bg-yellow px-4 py-2 font-display"
        >
          Støttespillere
        </h1>
        <SponsorList size="sm" sponsors={supporterSponsors} />
      </div>
      <div class="grid gap-24 sm:grid-cols-5 sm:gap-8">
        <div class="space-y-8 sm:col-span-3">
          <h1
            class="text-md mx-auto w-fit rounded-lg bg-yellow px-4 py-2 font-display"
          >
            Offentlig støtte
          </h1>
          <SponsorList size="sm" sponsors={publicSponsors} />
        </div>
        <div class="space-y-8 sm:col-span-2">
          <h1
            class="text-md mx-auto w-fit rounded-lg bg-yellow px-4 py-2 font-display"
          >
            Samarbeidspartnere
          </h1>
          <SponsorList size="sm" sponsors={partners} />
        </div>
      </div>
    </div>
  </div>
</section>
