---
import { Image } from "astro:assets";

export interface Props {
  size: "sm" | "md" | "lg" | "xl";
  sponsors: {
    name: string;
    image: ImageMetadata;
    url: string;
  }[];
}

const { size, sponsors } = Astro.props;

const imageSize = {
  xl: "w-80 sm:w-96 h-36",
  lg: "w-56 sm:w-56 h-28",
  md: "w-32 h-20",
  sm: "w-24 h-12",
};
---

<ul
  role="list"
  class="flex w-full flex-row flex-wrap items-center justify-center gap-8"
>
  {
    sponsors.map(({ name, image, url }) => {
      if (!image) return null;
      return (
        <li>
          <a
            href={url}
            title={name}
            rel="noopener nofollow"
            target="_blank"
            class="block transition-transform hover:-rotate-2"
          >
            <Image
              src={image}
              alt={name}
              class={`${imageSize[size]} object-contain`}
            />
          </a>
        </li>
      );
    })
  }
</ul>
