---
import first from "lodash/first";
import last from "lodash/last";
import sortBy from "lodash/sortBy";

import Icon from "astro-icon";
import { isBefore } from "date-fns";
import ArtistNavigationLinks from "../components/ArtistNavigationLinks.astro";
import BarnekonsertTag from "../components/BarnekonsertTag.astro";
import BestillingsverkTag from "../components/BestillingsverkTag.astro";
import BuyTicketsButton from "../components/BuyTicketsButton.astro";
import ImageAndLabel from "../components/ImageAndLabel.astro";
import ImageWithBlurredBackground from "../components/ImageWithBlurredBackground.astro";
import InfoBox from "../components/InfoBox.astro";
import Link from "../components/Link.astro";
import MorgensoloTag from "../components/MorgensoloTag.astro";
import Spotify from "../components/Spotify.astro";
import YouTube from "../components/YouTube.astro";
import { formatHumanDateTime, formatTime } from "../utils/date";
import Layout from "./Layout.astro";

const {
  frontmatter: {
    spotifyUrl,
    youtubeUrl,
    title,
    author,
    authorImage,
    noAuthor,
    tagline,
    cancelled,
    id,
    imageType,
    imageAttribution,
    concertStartAt,
    concertEndAt,
    venue,
    sponsoredByBergesenstiftelsen,
    isFree,
    isMorgensolo,
    isBestillingsverk,
    isBarnekonsert,
    requiresFreeTicket,
    externalTicketUrl,
    isNonConcertEvent,
  },
} = Astro.props;

export type ArtistProps = {
  frontmatter: {
    layout?: string;
    id: string;
    imageType?: "jpg" | "png";
    imageAttribution?: string;
    title: string;
    shortTitle?: string;
    author?: string;
    authorImage?: string;
    noAuthor?: boolean;
    tagline?: string;
    venue?: string;
    concertStartAt?: string;
    concertEndAt?: string;
    spotifyUrl?: string;
    youtubeUrl?: string;
    sponsoredByBergesenstiftelsen?: string;
    hideFromProgram?: boolean;
    hideFromArtistList?: boolean;
    isFree?: boolean;
    externalLink?: string;
    altImage?: string;
    isMorgensolo?: boolean;
    isBestillingsverk?: boolean;
    isBarnekonsert?: boolean;
    isPlaceholder?: boolean;
    isNonConcertEvent?: boolean;
    requiresFreeTicket?: boolean;
    externalTicketUrl?: string;
    order?: string;
    releaseAt?: string;
    cancelled?: boolean;
  };
};

const artistsPages = await import.meta.glob<ArtistProps>(
  "../pages/artist/*.mdx",
  { eager: true },
);
const artists = Object.values(artistsPages);
const releasedArtists = () =>
  artists.filter(
    (artist) =>
      !artist.frontmatter.hideFromProgram &&
      (!artist.frontmatter.releaseAt ||
        isBefore(artist.frontmatter.releaseAt, new Date())),
  );
const sortedArtistsPages = sortBy(
  [
    ...releasedArtists().filter(
      ({ frontmatter: { hideFromArtistList } }) => !hideFromArtistList,
    ),
  ],
  "frontmatter.concertStartAt",
);
const indexOfThisArtist = sortedArtistsPages.findIndex(
  ({ frontmatter: { id } }) => id === Astro.props.frontmatter.id,
);
const previousArtist =
  indexOfThisArtist === 0
    ? last(sortedArtistsPages)
    : sortedArtistsPages[indexOfThisArtist - 1];
const nextArtist =
  indexOfThisArtist === sortedArtistsPages.length - 1
    ? first(sortedArtistsPages)
    : sortedArtistsPages[indexOfThisArtist + 1];

const showPrevAndNextArtistNavigationLinks =
  sortedArtistsPages.length > 1 && previousArtist && nextArtist;

const image = imageType ? `${id}.${imageType}` : `${id}.jpg`;
---

<Layout
  title={`${title} // Mandaljazz 2026`}
  description={`${title} på Mandaljazz! ${tagline}`}
  image={`/artist/${image}`}
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl space-y-24">
      <div class="space-y-12">
        <div class="space-y-6">
          <div class="flex flex-row flex-wrap items-center gap-x-4 gap-y-2">
            <h1
              class="hyphens-auto text-4xl leading-snug md:hyphens-none md:text-7xl md:leading-tight"
            >
              {title}
            </h1>
            {isMorgensolo && <MorgensoloTag className="mt-1" />}
            {isBestillingsverk && <BestillingsverkTag className="mt-1" />}
            {isBarnekonsert && <BarnekonsertTag className="mt-1" />}
          </div>

          <h2 class="hyphens-auto text-3xl font-normal">
            {cancelled && "Avlyst, "}
            {tagline}
          </h2>

          {
            showPrevAndNextArtistNavigationLinks ? (
              <ArtistNavigationLinks
                previousArtist={previousArtist}
                nextArtist={nextArtist}
                compact
              />
            ) : null
          }
        </div>

        <div class="relative grid gap-1">
          <ImageWithBlurredBackground
            src={`/artist/${image}`}
            alt={title}
            className="h-[320px] sm:h-[520px] lg:h-[620px]"
          />
          {
            imageAttribution && (
              <div class="justify-self-end text-sm">
                Foto: {imageAttribution}
              </div>
            )
          }
        </div>
      </div>
      <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-4">
        <div class="col-span-2 space-y-8">
          <div class="clip grid max-w-sm grid-cols-1 gap-4 font-display">
            {
              concertStartAt && (
                <span
                  class={`flex flex-row items-center gap-2 text-lg md:text-xl`}
                >
                  <Icon
                    class="icon"
                    pack={"ion"}
                    name={"time-outline"}
                    size={40}
                  />
                  {`${formatHumanDateTime(concertStartAt)}${concertEndAt ? `–${formatTime(concertEndAt)}` : ""}`}
                </span>
              )
            }
            {
              venue && (
                <Link
                  href="/praktisk"
                  unstyled
                  title={venue}
                  class={`flex w-fit flex-row items-center gap-2 text-lg transition-transform hover:-rotate-2 md:text-xl`}
                >
                  <Icon
                    class="icon"
                    pack={"ion"}
                    name={"location-outline"}
                    size={40}
                  />
                  {venue}
                </Link>
              )
            }
          </div>
          {
            !noAuthor && (
              <ImageAndLabel
                image={`/src/images/folk/${authorImage || "placeholder.png"}`}
                alt={`Bilde av ${author || "Presseskriv"}`}
              >
                Tekst: {author || "Presseskriv"}
              </ImageAndLabel>
            )
          }
          <article class="prose prose-quoteless-blockquotes">
            <slot />
          </article>
        </div>
        <div class="col-span-1 flex flex-col gap-y-8">
          {
            isFree && !requiresFreeTicket && (
              <InfoBox>
                {isNonConcertEvent ? "Arrangementet" : "Konserten"} er gratis!
              </InfoBox>
            )
          }
          {
            isFree && requiresFreeTicket && (
              <InfoBox>
                Konserten er gratis, men du må reservere plass med en
                gratisbillett.
              </InfoBox>
            )
          }
          <div class="flex flex-row justify-between">
            {
              !isFree && (
                <BuyTicketsButton
                  class="flex-0 h-fit w-fit"
                  externalTicketUrl={externalTicketUrl}
                  earlyBird="left"
                />
              )
            }
            {
              isFree && requiresFreeTicket && (
                <BuyTicketsButton class="flex-0 h-fit w-fit" isFree />
              )
            }
            {
              sponsoredByBergesenstiftelsen && (
                <div class="flex flex-col gap-y-1 lg:items-end">
                  <p class="text-xs lg:text-right">
                    Konserten er støttet av{" "}
                    <span class="hidden">Bergesenstiftelsen</span>
                  </p>
                  <a
                    href={"https://bergesenstiftelsen.no/"}
                    title={"Bergesenstiftelsen"}
                    rel="noopener nofollow"
                    target="_blank"
                    class="block transition-transform hover:-rotate-2"
                  >
                    <div
                      style={`background-image: url(/sponsor/bergesenstiftelsen.png);`}
                      class={`h-12 w-32 bg-contain bg-left bg-no-repeat`}
                    />
                  </a>
                </div>
              )
            }
          </div>
          {
            spotifyUrl && (
              <div class="flex-1">
                <Spotify src={spotifyUrl} iframeClass="lg:h-full" />
              </div>
            )
          }
        </div>
      </div>
      {youtubeUrl && <YouTube src={youtubeUrl} />}
      {
        showPrevAndNextArtistNavigationLinks ? (
          <ArtistNavigationLinks
            previousArtist={previousArtist}
            nextArtist={nextArtist}
          />
        ) : null
      }
    </div>
  </main>
</Layout>
