---
import Layout from "./Layout.astro";

const {
  frontmatter: { spotifyUrl, title, author, tagline, id },
} = Astro.props;
---

<Layout title={`${title} // Mandaljazz 2023`}>
  <main>
    <h1 class="text-4xl">{title}</h1>
    <h2>Tekst: {author}</h2>
    <p>
      {tagline}
    </p>
    <img src={`${id}.png`} alt={title} class="rounded max-w-2xl" />
    <article class="prose">
      <slot />
    </article>
    {
      spotifyUrl && (
        <iframe
          class="rounded border-0 max-w-md"
          src={`https://open.spotify.com/embed/artist/${
            spotifyUrl.match(/\/artist\/(.*?)\?si/)?.[1]
          }?utm_source=generator`}
          width="100%"
          height="352"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        />
      )
    }
  </main>
</Layout>
