---
import Layout from "./Layout.astro";
import Spotify from "../components/Spotify.astro";
import YouTube from "../components/YouTube.astro";
import { formatHumanDateTime } from "../utils/date";

const {
  frontmatter: {
    spotifyUrl,
    youtubeUrl,
    title,
    author,
    tagline,
    id,
    concertStartAt,
    venue,
  },
} = Astro.props;

const randomHandSrc = `/profil/hand0${Math.floor(
  Math.random() * (6 - 1) + 1
)}.png`;
---

<Layout
  title={`${title} // mandaljazz 2023`}
  description={`${title} på mandaljazz! ${tagline}`}
  image={`/artist/${id}.png`}
>
  <main class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 py-20 sm:py-24">
    <div class="max-w-5xl mx-auto space-y-24">
      <div class="space-y-4">
        <div class="space-y-4">
          <h1 class="text-5xl md:text-7xl font-display">
            {title}
          </h1>
          <div class="grid grid-cols-5 flex-nowrap w-full items-end">
            <div class="col-span-3 space-y-8">
              <p class="text-3xl hyphens-auto">
                {tagline}
              </p>
              <div>
                <p>Tekst: {author}</p>
                <p>{formatHumanDateTime(concertStartAt)}</p>
                <p>{venue}</p>
              </div>
            </div>
            <div class="col-span-2 relative">
              <img
                src={randomHandSrc}
                class="w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 place-end rotate-2 translate-y-8"
                alt="Fargerik hånd som peker på tittelen ovenfor"
              />
            </div>
          </div>
        </div>

        <div class="relative">
          <div
            class="bg-no-repeat bg-cover bg-center w-full h-[520px] rounded"
            style={`background-image: url('/artist/${id}.png');`}
          >
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="col-span-2">
          <article class="prose">
            <slot />
          </article>
        </div>
        <div class="col-span-1 grid grid-cols-1 gap-4">
          {spotifyUrl && <Spotify src={spotifyUrl} iframeClass="lg:h-full" />}
        </div>
      </div>
      {youtubeUrl && <YouTube src={youtubeUrl} />}
    </div>
  </main>
</Layout>
