---
import ImageAndLabel from "../components/ImageAndLabel.astro";
import { formatDate } from "../utils/date";
import Layout from "./Layout.astro";

const {
  frontmatter: {
    title,
    author,
    authorImage,
    ingress,
    image,
    createdAt,
    updatedAt,
  },
} = Astro.props;
---

<Layout title="Blogg // Mandaljazz 2025" description={ingress} image={image}>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <section class="mx-auto max-w-3xl space-y-24">
      <div class="space-y-12">
        <div class="space-y-6">
          <h1 class="text-5xl md:text-7xl">{title}</h1>
          <p class="text-xl">
            {ingress}
          </p>
        </div>
        <div class="col-span-2 space-y-4">
          {
            author && (
              <ImageAndLabel
                image={`/src/images/folk/${authorImage}`}
                alt={`Bilde av ${author}`}
              >
                <div>
                  <div>Tekst: {author}</div>
                  <div>
                    Publisert: {formatDate(createdAt)}{" "}
                    {updatedAt && <em>(endret {formatDate(updatedAt)})</em>}
                  </div>
                </div>
              </ImageAndLabel>
            )
          }
        </div>
        <div
          class="h-80 w-full rounded bg-cover bg-top bg-no-repeat md:h-[420px] lg:h-[480px]"
          style={`background-image: url('${image}');`}
        >
        </div>
      </div>
      <article class="prose prose-quoteless-blockquotes w-full max-w-full">
        <slot />
      </article>
    </section>
  </main>
</Layout>
