---
import { formatDate } from "../utils/date";

const {
  data: { title, fee, start, end, deadline },
  slug,
} = Astro.props;
---

<section class="space-y-8">
  <div id={slug} class="invisible -translate-y-16"></div>
  <h3
    class="sticky top-[100px] inline-block w-full rounded-xl rounded-tl-none bg-pink p-3 text-xl md:top-[56px] md:p-4 md:text-2xl"
  >
    {title}
  </h3>
  <table class="max-w-lg border-spacing-2 rounded-lg bg-chalk-white shadow-lg">
    <tbody class="divide-y">
      <tr class="divide-x">
        <td class="p-3">Oppstart</td>
        <td class="col-span-2 p-3">{formatDate(start)}</td>
      </tr>
      <tr class="divide-x">
        <td class="p-3">Avsluttes</td>
        <td class="col-span-2 p-3">{formatDate(end)}</td>
      </tr>
      {
        deadline && (
          <tr class="divide-x">
            <td class="p-3">Frist</td>
            <td class="col-span-2 p-3">{formatDate(deadline)}</td>
          </tr>
        )
      }
    </tbody>
  </table>
  <article class="prose">
    <slot />
    {fee && <p>Stillingen er honorert.</p>}
  </article>
</section>
