---
const {
  frontmatter: { title, id, fee, start, end },
} = Astro.props;
---

<section class="space-y-8">
  <div id={id} class="invisible -translate-y-16"></div>
  <h3
    class="sticky top-[100px] md:top-[56px] p-3 md:p-4 bg-blue font-display text-xl md:text-2xl inline-block rounded-xl rounded-tl-none"
  >
    {title}
  </h3>
  <table class="border-spacing-2 bg-chalk-white shadow-lg rounded-lg max-w-lg">
    <tbody class="divide-y">
      <tr class="divide-x">
        <td class="p-3">Honorar</td>
        <td class="p-3">{fee}</td>
      </tr>
      <tr class="divide-x">
        <td class="p-3">Oppstart</td>
        <td class="p-3 col-span-2">{start}</td>
      </tr>
      <tr class="divide-x">
        <td class="p-3">Avsluttes</td>
        <td class="p-3 col-span-2">{end}</td>
      </tr>
    </tbody>
  </table>
  <article class="prose">
    <slot />
  </article>
</section>
