---
import { SEO } from "astro-seo";
import { getImage } from "astro:assets";
import { setDefaultOptions } from "date-fns";
import { nb } from "date-fns/locale";
import faviconSrc from "../images/favicon.png";
import faviconSvgSrc from "../images/favicon.svg";

setDefaultOptions({ locale: nb });

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NewsletterSection from "../components/NewsletterSection.astro";
import Sponsors from "../components/Sponsors.astro";
import "../styles/fonts.css";
import "../styles/main.css";

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />
    <link rel="manifest" href="/manifest.json" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO
      title={title}
      description={description}
      canonical={Astro.request.url}
      openGraph={{
        basic: {
          title: `${title} `,
          type: "website",
          image:
            "https://mandaljazz.no" + (image ? image : "/profil/banner.png"),
          url: Astro.request.url,
        },
        image: {
          alt: "mandaljazz 2025",
        },
      }}
    />
  </head>
  <body class="flex flex-col bg-beige font-sans text-lg font-medium text-black">
    <Header />
    <slot />
    <NewsletterSection />
    <Sponsors />
    <Footer />

    <script>
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", (e) => {
          e.preventDefault();
          document.querySelector(anchor.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });
    </script>
  </body>
</html>
